@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-image: url(transparent-square-tiles-1920x1080.png);
}

h1 {
    font-weight: bold;
    color: white;
}

p {
    font-size: 1.1rem;
    color: white;
}

.small-header {
    font-size: 1.3rem;
}

label {
    margin-right: 10px;
    margin-left: 5px;
}


#pie-chart {
    padding-left: 3em;
    padding-right: 3em;
}
